
<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>

<h1>Editing Book</h1>

<%= form_with model: @book, url:update_book_path(@book.id), method: :patch do |f| %>

<div class="fld">
  
  <label>Title</label>
  <%= f.text_field :title %>
  
</div>

<div class="fld">
  
  <label>Body</label>
  <%= f.text_area :body %>
  
</div>
  
  <div class="act">
  <%= f.submit 'Update Book' %>
  </div>
  
<% end %>

<%= link_to "Show", book_path(@book.id) %>
|
<%= link_to "Back", "/books" %>

